<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- habilitar websocket a nivel de sitio -->
    <webSocket enabled="true" />

    <handlers>
      <add name="iisnode"
           path="run.cjs"
           verb="*"
           modules="iisnode"
           resourceType="File"
           requireAccess="Script" />
    </handlers>

    <rewrite>
      <rules>

        <!-- Redirigir a HTTPS SIN CAMBIAR PUERTO -->
        <rule name="HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="OFF" ignoreCase="true" />
          </conditions>
          <action type="Redirect"
                  url="https://{HTTP_HOST}/{R:1}"
                  redirectType="Permanent" />
        </rule>

        <!-- todo a node (incluye /socket.io) -->
        <rule name="Node" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="run.cjs" />
        </rule>

      </rules>
    </rewrite>

    <iisnode devErrorsEnabled="true" />
  </system.webServer>
</configuration>
