<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="run.mjs" verb="*" modules="iisnode" resourceType="File" requireAccess="Script" />
        </handlers>

        <rewrite>
            <rules>
                <!-- Redirigir de HTTP a HTTPS en el puerto 3025 -->
                <rule name="HTTP to HTTPS redirection" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}:3025/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Regla para manejar peticiones a run.mjs -->
                <rule name="ReqToServerjs">
                    <match url=".*" />
                    <action type="Rewrite" url="run.mjs" />
                </rule>
            </rules>
        </rewrite>
        <iisnode devErrorsEnabled="true" />
    </system.webServer>
</configuration>
